#carsimage {
    height: 650px;
    width: 200%;
}


#cargamebody{
    background:lightslategray;
}

#maintable, #mainrow{
    width: 100%;
    border: 1px solid black;
    height: 600px;
}


#maincol {
    width: 45%;
    border: 2px solid black;
}

#cargamediv {
    background: white;
}

#centre {
    padding: 1%;
}

.font_car {
color : black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}